.form{
    width: "100%";
    height: auto;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    border-radius: 10px;
    overflow-y:auto;
    margin-bottom:100px;
}

/* align-items: flex-start;
    flex-direction: column; */

.transferform{
    display:flex;
    justify-content:space-between;

}

.form--input{
    width: "50%";
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 5px;
    border-radius: 5px; 
    
}
label,h1{
    margin-left: 10px;
}

/* .form--submit{
    align-self: center;
} */

.form--submit--btn{
    padding: 5px 5px;
    border-radius: 5px;
    

}

/*className={`modal ${openModal ? 'modal-open' : ''}*/