.form{
    width: 420px;
    height: 420px;
    background-color:white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form--input{
    width: 100px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px 5px;
    border-radius: 5px; 
}
label,h1{
    margin-left: 10px;
}

.form--submit{
    align-self: center;
}

.form--submit--btn{
    padding: 5px 5px;
    border-radius: 5px;

}

/*className={`modal ${openModal ? 'modal-open' : ''}*/